body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

a {
  color: #00B7FF;
}

.logo {
  width: 116px;
  height: 55px;
}

.img-row {
  padding-top: 35px;
}
  
.img-row a {
}

.ink-image {
  padding: 40px 20px;
}

.active {
  border: 1px solid blue;
}
